body {
  margin: 0;
  font-family: -apple-system, "DM Sans", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: -apple-system, "DM Sans", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@import "./common/Button.scss";
@import "./common/common.scss";

@import "./components/Header.scss";
@import "./components/Hero.scss";
@import "./components/FeaturedCrypto.scss";

@import "./pages/Home.scss";
